@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  overflow: -moz-scrollbars-none; /* For Firefox */
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}
